%section
    %ul#services
        %h2 Social
        %li
            %div.entypo-facebook
            %span Facebook
        %li
            %div.entypo-twitter
            %span Twitter
        %li
            %div.entypo-gplus
            %span Google Plus
        %li
            %div.entypo-linkedin
            %span LinkedIn